@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body{
    overflow: hidden;
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(123, 140, 157, 0.15);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    position: sticky;
    left: 33px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li{
    list-style: none;
    margin: 0 15px;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}