@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body{
    overflow: hidden;
    background-color: #DCDCDC;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 111;
    background-color:#F2F0F0;
    box-shadow: 0 1px 4px rgba(123, 140, 157, 0.15);
}

.navbar{
    width: 90%;
    height: 50px;
    max-width: 1200px;
    margin:  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-weight: 1000;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #574847;
    text-decoration: none;
    cursor: pointer;
}

.navbar .logo a b{
    font-size: 30px;
    color: #7f00ff;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

ul li{
    list-style: none;
    margin: 0 15px;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: scale 0.2 ease;
}

ul li a img{
    display: block;
}

ul li a:hover{
    border-radius: 20px;
    scale: 1.05;
    color: #7f00ff;
}

.navbar .toggle_btn{
    color: #000000;
    font-size: 1.3rem;
    cursor: pointer;
    display:none;
}

/*Dropdown*/
.dropdown_menu{
    display:none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #F2F0F0;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 298px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a{
    font-weight: 1000;
    text-decoration: none;
    color: #6b4f4f;
    text-transform: uppercase;
}

.dropdown_menu li a:hover{
    border-radius: 20px;
    scale: 1.05;
    color: #7f00ff;
}

/*Responsive*/
@media(max-width: 992px){
    .navbar .links,
    .navbar .nav-item{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}
@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}